*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  padding: 2rem 4rem;

  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  background-color: var(--background);
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
